{% extends "layout.html" %}
{% include 'header.html' %}

{% block content %}
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <p>SMARTSHOP.com is an online shop under development,<br>it is a shop where customers can register their details,<br>update them if they wish to,place orders on various electronic products like smartphones, brwatches and many other elctronic devices.
                        <br><b>Welcome! our esteemed customer.</b>
                    </p>
                </div>
                <div class="col-2">
                    <image src="{{url_for('static',filename = 'about.jpeg')}}" width="100%" height="100%">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
