{% extends "layout.html" %}
{% include 'header.html' %}

{% block content %}
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word"><u>Register</u></h1>
             </div><br><br><br>
            <h2 class="word">
                <form action="{{ url_for('register') }}" method="post">
                  <div class="msg">{{ msg }}</div>
                    <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/><br><br>
                    <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox"/><br><br>
                    <input id="email" name="email" type="text" placeholder="Enter Your Email ID" class="textbox"/><br><br>
                    <input id="phone" name="phone" type="phone" placeholder="Enter Your Phone Number" class="textbox"/><br><br>
                    <input id="address" name="address" type="text" placeholder="Enter Your Address" class="textbox"/><br><br>

                    <input type="submit" class="btn" value="Register"><br>
                </form>
            </h2>
            <p class="bottom">Already have an account?  <a class="bottom" href="{{url_for('login')}}"><u>Login Here</u> </a></p>
          </div>
        </div>
  {% endblock %}
